openapi: 3.2.0
info:
  title: Bancomat Pago PA API
  x-refined-note:
  - x-json-schema-faker differs across the merged source definitions and was not carried
  - x-logo differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged pagoPA across 4 of this provider''s published API definitions: bancomat-flowpay-api-v1-openapi.json, bancomat-flowpay-api-v2-openapi.json, bancomat-flowpay-api-v1-openapi.yml, bancomat-flowpay-api-v2-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://app.flowpay.it/api
  variables: {}
- url: https://api.flowpay.it/v2
  description: Production server (Not implementend)
- url: https://mock.flowpay.it/v2
  description: Mock server
- url: https://sandbox.{customerID}.flowpay.it/v2
  description: Customer-assigned sandbox server
  variables:
    customerID:
      default: 00000000-00000000-00000000-00000000
      description: Unique customer identifier assigned after contract signature
- url: http://localhost:5002
  description: Debug
tags:
- description: pagoPA è il sistema nazionale italiano che permette ai cittadini di pagare la pubblica amministrazione. FlowPay partecipa a pagoPA e consente agli utenti di pagare con l'open banking.
  name: pagoPA
paths:
  /pagopa:
    get:
      description: Recupera la lista dei documenti di tipo pagoPA
      parameters:
      - description: Codice fiscale dell'ente creditore (vat code in caso di azienda, codice fiscale in caso di privato)
        in: query
        name: paVatCode
        required: false
        schema:
          type: string
      - description: Numero avviso PagoPA
        in: query
        name: noticeNumber
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
              - ec: '8008008008'
                fingerprint: aaa9994db24ee81c2831363a24bab2ddc56ae36d33567146c4e924d238927ada
                noticeNumber: '1234567890123456'
                remittance: Donazione
              - ec: '9000110009'
                fingerprint: ff894db24ee811c2831363a24bab20bc56ae366633567146c4e924d238927ede
                noticeNumber: '1234567890123457'
                remittance: Rinnovo
              schema:
                items:
                  $ref: '#/components/schemas/pagoPAFieldLess'
                type: array
          description: Pagopa list retrieved
        '400':
          content:
            application/json; charset=utf-8:
              example:
                code: 12345678
                errorDescription: hello
                errorURI: null
                expectedType: null
                field: null
                requestID: null
                service: 12345678
                statusCode: 12345678
              schema:
                $ref: '#/components/schemas/ErrorDTO'
          description: La richiesta non è corretta sintatticamente, body, headers, path o query params non conformi alla documentazione
        '401':
          content:
            application/json; charset=utf-8:
              example:
                code: 12345678
                errorDescription: hello
                errorURI: null
                expectedType: null
                field: null
                requestID: null
                service: 12345678
                statusCode: 12345678
              schema:
                $ref: '#/components/schemas/ErrorDTO'
          description: Le credenziali fornite non sono sufficienti a completare la richiesta
        '403':
          content:
            application/json; charset=utf-8:
              example:
                code: 12345678
                errorDescription: hello
                errorURI: null
                expectedType: null
                field: null
                requestID: null
                service: 12345678
                statusCode: 12345678
              schema:
                $ref: '#/components/schemas/ErrorDTO'
          description: La richiesta non è autorizzata a procedere con le credenziali fornite
        '404':
          content:
            application/json; charset=utf-8:
              example:
                code: 12345678
                errorDescription: hello
                errorURI: null
                expectedType: null
                field: null
                requestID: null
                service: 12345678
                statusCode: 12345678
              schema:
                $ref: '#/components/schemas/ErrorDTO'
          description: La richiesta fa riferimento ad una risorsa inesistente
      security:
      - ThirdPartyClientCredential:
        - pagopa
      summary: pagoPA list
      tags:
      - pagoPA
      operationId: getPagopa
      x-operation-id-source: derived
    post:
      description: Permette di caricare un avviso di pagamento pagoPA
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                properties:
                  debtorMail:
                    description: Debtor email address
                    example: example@example.com
                    format: email
                    type: string
                  debtorVatCode:
                    description: Codice fiscale del debitore (vat code in caso di azienda, codice fiscale in caso di privato)
                    example: string
                    type: string
                  noticeNumber:
                    description: Notice number emitted by pagoPA
                    example: '1234567890123456'
                    pattern: ^d{11}
                    type: string
                  paVatCode:
                    description: P.iva della pubblica amministrazione
                    example: '12345678901'
                    pattern: ^d{11}
                    type: string
                required:
                - noticeNumber
                - paVatCode
              - type: object
                properties:
                  debtorMail:
                    description: Debtor email address
                    example: example@example.com
                    format: email
                    type: string
                  debtorVatCode:
                    description: Codice fiscale del debitore (vat code in caso di azienda, codice fiscale in caso di privato)
                    example: string
                    type: string
                  vehicleType:
                    description: Vehicle type for car tax payment. Can be 'auto', 'moto', or 'rimorchio'.
                    type: string
                    enum:
                    - auto
                    - moto
                    - rimorchio
                  licensePlate:
                    description: License plate for car tax payment
                    type: string
                required:
                - vehicleType
                - licensePlate
        description: Pagopa payment request
      responses:
        '201':
          content:
            application/json:
              example:
                ec: '8008008008'
                fingerprint: aaa9994db24ee81c2831363a24bab2ddc56ae36d33567146c4e924d238927ada
                noticeNumber: '1234567890123456'
                remittance: Donazione
                status: PAYABLE
                amount: 1
                date: '2099-12-30T23:00:00Z'
              schema:
                $ref: '#/components/schemas/pagoPA'
          description: L'avviso non è presente nella nostra piattaforma, perciò viene effettuata una chiamata al nodo PagoPA per caricarla.
        '200':
          content:
            application/json:
              example:
                ec: '8008008008'
                fingerprint: aaa9994db24ee81c2831363a24bab2ddc56ae36d33567146c4e924d238927ada
                noticeNumber: '1234567890123456'
                remittance: Donazione
              schema:
                $ref: '#/components/schemas/pagoPAFieldLess'
          description: L'avviso risulta già caricato nella nostra piattaforma. Non viene effettuata alcuna chiamata al nodo PagoPA.
        '400':
          content:
            application/json; charset=utf-8:
              example:
                code: 12345678
                errorDescription: hello
                errorURI: null
                expectedType: null
                field: null
                requestID: null
                service: 12345678
                statusCode: 12345678
              schema:
                $ref: '#/components/schemas/ErrorDTO'
          description: La richiesta non è corretta sintatticamente, body, headers, path o query params non conformi alla documentazione
        '401':
          content:
            application/json; charset=utf-8:
              example:
                code: 12345678
                errorDescription: hello
                errorURI: null
                expectedType: null
                field: null
                requestID: null
                service: 12345678
                statusCode: 12345678
              schema:
                $ref: '#/components/schemas/ErrorDTO'
          description: Le credenziali fornite non sono sufficienti a completare la richiesta
        '403':
          content:
            application/json; charset=utf-8:
              example:
                code: 12345678
                errorDescription: hello
                errorURI: null
                expectedType: null
                field: null
                requestID: null
                service: 12345678
                statusCode: 12345678
              schema:
                $ref: '#/components/schemas/ErrorDTO'
          description: La richiesta non è autorizzata a procedere con le credenziali fornite
        '404':
          content:
            application/json; charset=utf-8:
              example:
                code: 12345678
                errorDescription: hello
                errorURI: null
                expectedType: null
                field: null
                requestID: null
                service: 12345678
                statusCode: 12345678
              schema:
                $ref: '#/components/schemas/ErrorDTO'
          description: La richiesta fa riferimento ad una risorsa inesistente
      security:
      - ThirdPartyClientCredential:
        - pagopa
      summary: pagoPA payment
      tags:
      - pagoPA
      operationId: postPagopa
      x-operation-id-source: derived
    servers:
    - url: https://app.flowpay.it/api
      variables: {}
  /pagopa/{fingerprint}:
    get:
      description: Recupera il documento pagoPA usando la fingerprint
      parameters:
      - in: path
        name: fingerprint
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                ec: '8008008008'
                fee: 0
                fingerprint: aaa9994db24ee81c2831363a24bab2ddc56ae36d33567146c4e924d238927ada
                noticeNumber: '1234567890123456'
                remittance: Donazione
              schema:
                $ref: '#/components/schemas/pagoPA'
          description: L'avviso recuperato dalla nostra piattaforma. Viene contatto il nodo PagoPA, per verifica.
        '400':
          content:
            application/json; charset=utf-8:
              example:
                code: 12345678
                errorDescription: hello
                errorURI: null
                expectedType: null
                field: null
                requestID: null
                service: 12345678
                statusCode: 12345678
              schema:
                $ref: '#/components/schemas/ErrorDTO'
          description: La richiesta non è corretta sintatticamente, body, headers, path o query params non conformi alla documentazione
        '401':
          content:
            application/json; charset=utf-8:
              example:
                code: 12345678
                errorDescription: hello
                errorURI: null
                expectedType: null
                field: null
                requestID: null
                service: 12345678
                statusCode: 12345678
              schema:
                $ref: '#/components/schemas/ErrorDTO'
          description: Le credenziali fornite non sono sufficienti a completare la richiesta
        '403':
          content:
            application/json; charset=utf-8:
              example:
                code: 12345678
                errorDescription: hello
                errorURI: null
                expectedType: null
                field: null
                requestID: null
                service: 12345678
                statusCode: 12345678
              schema:
                $ref: '#/components/schemas/ErrorDTO'
          description: La richiesta non è autorizzata a procedere con le credenziali fornite
        '404':
          content:
            application/json; charset=utf-8:
              example:
                code: 12345678
                errorDescription: hello
                errorURI: null
                expectedType: null
                field: null
                requestID: null
                service: 12345678
                statusCode: 12345678
              schema:
                $ref: '#/components/schemas/ErrorDTO'
          description: La richiesta fa riferimento ad una risorsa inesistente
      security:
      - ThirdPartyClientCredential:
        - pagopa
      summary: pagoPA document
      tags:
      - pagoPA
      operationId: getPagopaByFingerprint
      x-operation-id-source: derived
    patch:
      description: Modifica la mail del debitore di un documento pagoPA
      parameters:
      - in: path
        name: fingerprint
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                debtorMail:
                  description: Debtor email address
                  example: example@example.com
                  format: email
                  type: string
              required:
              - debtorMail
        description: edit Pagopa payment request
      responses:
        '200':
          content: {}
          description: Documento pagoPA modificato correttamente
        '400':
          content: {}
          description: La richiesta non è corretta sintatticamente, body, headers, path o query params non conformi alla documentazione
        '403':
          content: {}
          description: La richiesta non è autorizzata a procedere con le credenziali fornite
        '404':
          content: {}
          description: La richiesta fa riferimento ad una risorsa inesistente
      security:
      - ThirdPartyClientCredential:
        - pagopa
      summary: edit pagoPA document
      tags:
      - pagoPA
      operationId: patchPagopaByFingerprint
      x-operation-id-source: derived
    servers:
    - url: https://app.flowpay.it/api
      variables: {}
  /pagopa/receipts/:id:
    get:
      description: Ottiene il pdf della ricevuta di pagamento di un documento pagoPA
      parameters:
      - in: path
        description: Identificativo univoco del documento PagoPA su flowpay
        name: id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          content:
            application/pdf:
              schema:
                type: string
                format: binary
          description: Pagopa document
        '400':
          content:
            application/json; charset=utf-8:
              example:
                code: 12345678
                errorDescription: hello
                errorURI: null
                expectedType: null
                field: null
                requestID: null
                service: 12345678
                statusCode: 12345678
              schema:
                $ref: '#/components/schemas/ErrorDTO'
          description: La richiesta non è corretta sintatticamente, body, headers, path o query params non conformi alla documentazione
        '401':
          content:
            application/json; charset=utf-8:
              example:
                code: 12345678
                errorDescription: hello
                errorURI: null
                expectedType: null
                field: null
                requestID: null
                service: 12345678
                statusCode: 12345678
              schema:
                $ref: '#/components/schemas/ErrorDTO'
          description: Le credenziali fornite non sono sufficienti a completare la richiesta
        '403':
          content:
            application/json; charset=utf-8:
              example:
                code: 12345678
                errorDescription: hello
                errorURI: null
                expectedType: null
                field: null
                requestID: null
                service: 12345678
                statusCode: 12345678
              schema:
                $ref: '#/components/schemas/ErrorDTO'
          description: La richiesta non è autorizzata a procedere con le credenziali fornite
        '404':
          content:
            application/json; charset=utf-8:
              example:
                code: 12345678
                errorDescription: hello
                errorURI: null
                expectedType: null
                field: null
                requestID: null
                service: 12345678
                statusCode: 12345678
              schema:
                $ref: '#/components/schemas/ErrorDTO'
          description: La richiesta fa riferimento ad una risorsa inesistente
      security:
      - ThirdPartyClientCredential:
        - pagopa
      summary: pagoPA receipts
      tags:
      - pagoPA
      operationId: getPagopaReceipts:id
      x-operation-id-source: derived
    servers:
    - url: https://app.flowpay.it/api
      variables: {}
  /pagopa/{fingerprint}/receipt:
    get:
      summary: Get pagoPA receipt
      description: Retrieve pagoPA receipt by fingerprint
      operationId: getPagopaReceipt
      security:
      - oAuth2:
        - pagopa:read
      parameters:
      - name: fingerprint
        in: path
        description: Pagopa fingerprint
        required: true
        schema:
          $ref: '#/components/schemas/Fingerprint_2'
      responses:
        '200':
          description: Pagopa receipt retrieved
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      tags:
      - pagoPA
    servers:
    - url: https://api.flowpay.it/v2
      description: Production server (Not implementend)
    - url: https://mock.flowpay.it/v2
      description: Mock server
    - url: https://sandbox.{customerID}.flowpay.it/v2
      description: Customer-assigned sandbox server
      variables:
        customerID:
          default: 00000000-00000000-00000000-00000000
          description: Unique customer identifier assigned after contract signature
    - url: http://localhost:5002
      description: Debug
components:
  schemas:
    pagoPAFieldLess:
      description: PagoPA payment information
      properties:
        ec:
          $ref: '#/components/schemas/CompanyVATNumber'
          description: Public administration VAT number
        fingerprint:
          $ref: '#/components/schemas/Fingerprint'
          description: Fingerprint generated for the document
        noticeNumber:
          description: Notice number emitted by pagoPA
          example: '1234567890123456'
          pattern: ^d{11}
          type: string
        remittance:
          description: Remittance information
          example: Rata scuola A.S. 2019/2020
          type: string
        id:
          description: Identificativo univoco del documento PagoPA su flowpay
          example: cb15b52a-91db-41ed-81a0-764a0cc4795d
          format: uuid
          type: string
      required:
      - fingerprint
      - ec
      - noticeNumber
      type: object
    pagoPA:
      description: PagoPA payment information
      properties:
        ec:
          $ref: '#/components/schemas/CompanyVATNumber'
          description: Public administration VAT number
        fingerprint:
          $ref: '#/components/schemas/Fingerprint'
          description: Fingerprint generated for the document
        noticeNumber:
          description: Notice number emitted by pagoPA
          example: '1234567890123456'
          pattern: ^d{11}
          type: string
        remittance:
          description: Remittance information
          example: Rata scuola A.S. 2019/2020
          type: string
        id:
          description: Identificativo univoco del documento PagoPA su flowpay
          example: cb15b52a-91db-41ed-81a0-764a0cc4795d
          format: uuid
          type: string
        date:
          description: Due date of the PagoPa notice
          example: '2099-12-30T23:00:00Z'
          format: date-time
          type: string
        amount:
          description: amount due for the PagoPa notice
          example: '1'
          format: double
          type: number
        status:
          $ref: '#/components/schemas/pagoPaStatusEnum'
      required:
      - fingerprint
      - ec
      - noticeNumber
      type: object
    ErrorDTO:
      description: "Formato errore standard\n    \nLista dei possibili codici di errore:\n\n| codice | descrizione |\n| ------ | ----------- |\n| 401 | Errore generale di codifica |\n| 402 | Campo necessario mancante |\n| 403 | Valore di un campo del tipo sbagliato |\n| 404 | Valore di un campo assente |\n| 405 | Errore di codifica sconosciuto |\n| 406 | Null pointer exception |\n| 407 | Campo necessario mancante |\n| 408 | Errore di connessione |\n| 409 | Errore di input output |\n| 410 - 428 | Errore generico con il database |\n| 429, 432, 433 | Errore di logica con il database |\n| 430 | Campo invalido |\n| 431 | Campo assente |\n| 434 | Risultati non trovati |\n| 500 | Errore generico |\n| 2000 | Tenant non specificato |\n| 2001 | Non autorizzato ad operare su questa risorsa |\n| 2002 | Impossibile eliminare il documento poiché sono presente dei pagamenti collegati |\n| 2003 | Non autorizzato a creare la risorsa |\n| 2004 | Non autorizzato ad operare su questa risorsa |\n| 2005 | Si sta provando a modificare un termine non di questo documento |\n| 2006 | Codice istant scaduto |\n| 2007 | Non autorizzato generare un codice instant |\n| 2008 | Codice instant inesistente o non autorizzato a leggerlo |\n| 2012 | Si sta provando a caricare un documento già esistente |\n| 3001 | Tenant non specificato |\n| 4001 | Tenant non specificato |\n| 5001 | Corpo richiesta mancante |\n| 5002 | Corpo richiesta non valido |\n| 5003 | Vatcode del ricevente fattura mancante |\n| 6001 | Tenant non specificato |\n| 6002 | Ricevuta non trovata |\n| 8005 | Non puoi modificare questo conto |\n| 8010 | Troppi risultati ottenuti |\n| 11001 | Non autorizzato ad accedere a questa risorsa |\n| 11002 | Si sta provando a caricare un documento già esistente |\n| 13001 | Azienda non trovata |\n| 13003 | vatcode non è valido |"
      properties:
        code:
          description: Codice errore
          example: '12345678'
          format: int64
          type: integer
        errorDescription:
          description: Descrizione errore
          example: string
          type: string
        errorURI:
          description: URI dell'errore se presente
          example: string
          type: string
        expectedType:
          description: Nel caso di un errore di codifica indica il tipo di dato che non si è riuscito a decodificare
          example: string
          type: string
        field:
          description: Nel caso di un errore di codifica indica il campo che non si è riuscito a decodificare
          example: string
          type: string
        requestID:
          description: ID della richiesta da comunicare per poter fornire un supporto
          example: string
          type: string
        service:
          description: ID interno del servizio
          example: '12345678'
          format: int64
          type: integer
        statusCode:
          description: Codice di stato HTTP
          example: '12345678'
          format: int64
          type: integer
      required:
      - service
      - code
      - errorDescription
      - statusCode
      type: object
    pagoPaStatusEnum:
      enum:
      - PAYABLE
      - PAID
      - ACTIVATED
      - PAID_FROM_OTHER_PSP
      - ACTIVATED_FROM_OTHER_PSP
      type: string
    Fingerprint:
      description: Fingerprint del documento
      example: d41d8cd98f00b204e9800998ecf8427e
      type: string
    CompanyVATNumber:
      description: VAT number of the company, full european format
      example: IT12345678901
      pattern: /^((AT)(U\d{8})|(BE)(0\d{9})|(BG)(\d{9,10})|(CY)(\d{8}[LX])|(CZ)(\d{8,10})|(DE)(\d{9})|(DK)(\d{8})|(EE)(\d{9})|(EL|GR)(\d{9})|(ES)([\dA-Z]\d{7}[\dA-Z])|(FI)(\d{8})|(FR)([\dA-Z]{2}\d{9})|(HU)(\d{8})|(IE)(\d{7}[A-Z]{2})|(IT)(\d{11})|(LT)(\d{9}|\d{12})|(LU)(\d{8})|(LV)(\d{11})|(MT)(\d{8})|(NL)(\d{9}(B\d{2}|BO2))|(PL)(\d{10})|(PT)(\d{9})|(RO)(\d{2,10})|(SE)(\d{12})|(SI)(\d{8})|(SK)(\d{10}))$
      type: string
      x-faker: finance.vat
    StatusCode:
      type: integer
      description: HTTP status code
      example: 404
    RequestID:
      type: string
      description: Unique identifier of the request.<br> It is helpful to identify the request in case of errors, providing it to the support team. Please submit it in the support ticket.
      format: uuid
      x-faker: random.uuid
    pagoPA_2:
      type: object
      description: PagoPA payment information
      properties:
        fingerprint:
          description: Fingerprint generated for the document
          $ref: '#/components/schemas/Fingerprint_2'
        ec:
          $ref: '#/components/schemas/CompanyVATNumber'
          description: Public administration VAT number
        debtor:
          $ref: '#/components/schemas/Contact'
          description: Debtor information
        remittance:
          type: string
          description: Remittance information
          example: Rata scuola A.S. 2019/2020
        amount:
          type: number
          format: double
          example: 100.01
          description: Amount to be paid
          x-faker: finance.amount
        status:
          $ref: '#/components/schemas/pagoPAStatus'
      required:
      - fingerprint
      - ec
      - debtor
      - remittance
      - amount
      - status
    Fingerprint_2:
      type: string
      description: Fingerprint of the document
      example: d41d8cd98f00b204e9800998ecf8427e
    ConsumerNationalID:
      type: string
      description: National ID of the consumer, currently only italian format is supported
      pattern: /^([A-Z]{6}\d{2}[A-Z]\d{2}[A-Z]\d{3}[A-Z])$
      example: RSSMRA80A01H501T
    PaginatedResult:
      type: object
      properties:
        page:
          type: integer
          description: Current page number
        pageSize:
          type: integer
          description: Number of items per page
        total:
          type: integer
          description: Total number of items
        items:
          type: array
          description: List of items
          items: {}
    Contact:
      type: object
      properties:
        fullName:
          description: Full name of the contact, contains the concatenation of the name and surname of a consumer, or the name of a company.
          oneOf:
          - type: string
            description: Full name of the consumer
            example: Mario Rossi
            x-faker: person.fullName
          - type: string
            description: Company name
            example: Illustrious Company S.p.A.
            x-faker: company.companyName
        fullVat:
          type: string
          description: 'VAT number of the company in full european format or national ID of the consumer '
          oneOf:
          - $ref: '#/components/schemas/ConsumerNationalID'
          - $ref: '#/components/schemas/CompanyVATNumber'
        type:
          type: string
          enum:
          - consumer
          - company
          description: Type of the contact
    pagoPAStatus:
      type: string
      enum:
      - ready
      - activated
      - locked
      - paid
      - paidOnAnotherProvider
      description:
        $ref: docs/pagopa_status.md
    pagoPA_3:
      type: object
      description: PagoPA payment information
      properties:
        fingerprint:
          description: Fingerprint generated for the document
          $ref: '#/components/schemas/Fingerprint_3'
        ec:
          $ref: '#/components/schemas/CompanyVATNumber'
          description: Public administration VAT number
        debtor:
          $ref: '#/components/schemas/Contact'
          description: Debtor information
        remittance:
          type: string
          description: Remittance information
          example: Rata scuola A.S. 2019/2020
        amount:
          type: number
          format: double
          example: 100.01
          description: Amount to be paid
          x-faker: finance.amount
        status:
          $ref: '#/components/schemas/pagoPAStatus'
      required:
      - fingerprint
      - ec
      - debtor
      - remittance
      - amount
      - status
    Fingerprint_3:
      type: string
      description: Fingerprint of the document
      example: d41d8cd98f00b204e9800998ecf8427e
  responses:
    Forbidden:
      description: Client is not authorized to access the requested resource
      content:
        application/json:
          schema:
            type: object
            properties:
              statusCode:
                $ref: '#/components/schemas/StatusCode'
              requestID:
                $ref: '#/components/schemas/RequestID'
              message:
                type: string
                description: Error message
                example: You can't create a new invoice for this tenant
            required:
            - statusCode
            - requestID
            - message
    InternalServerError:
      description: Server encountered an unexpected condition that prevented it from fulfilling the request
      content:
        application/json:
          schema:
            type: object
            properties:
              statusCode:
                $ref: '#/components/schemas/StatusCode'
              requestID:
                $ref: '#/components/schemas/RequestID'
            required:
            - statusCode
            - requestID
    NotFound:
      description: The requested resource was not found
      content:
        application/json:
          schema:
            type: object
            properties:
              statusCode:
                $ref: '#/components/schemas/StatusCode'
              requestID:
                $ref: '#/components/schemas/RequestID'
              message:
                type: string
                description: Error message
                example: Invoice not found
            required:
            - statusCode
            - requestID
            - message
    Unauthorized:
      description: Client has not provided valid credentials to access the requested resource
      content:
        application/json:
          schema:
            type: object
            properties:
              statusCode:
                $ref: '#/components/schemas/StatusCode'
              requestID:
                $ref: '#/components/schemas/RequestID'
              message:
                type: string
                description: Error message
                example: You must provide a valid access token
            required:
            - statusCode
            - requestID
            - message
    BadRequest:
      description: Client has provided invalid data
      content:
        application/json:
          schema:
            type: object
            properties:
              statusCode:
                $ref: '#/components/schemas/StatusCode'
              requestID:
                $ref: '#/components/schemas/RequestID'
              message:
                type: string
                description: Error message
                example: Proforma invoice can not have a due date later than the invoice date
              additionalInfo:
                type: object
                description: Additional information about the error
                properties:
                  path:
                    type: string
                    description: JSON path of the field that caused the error
                    example: .dueDate
                  key:
                    type: string
                    description: JSON key of the field that caused the error
                    example: dueDate
                  type:
                    type: string
                    description: Expected type of the field that caused the error
                    example: string
                required:
                - path
            required:
            - statusCode
            - requestID
            - message
            - additionalInfo
  securitySchemes:
    ThirdPartyAuthorizationCode:
      description: Autorizzazione oauth ottenuta da terze parti con un authorization flow
      flows:
        authorizationCode:
          authorizationUrl: https://core.flowpay.it/api/openid/authenticate
          refreshUrl: https://core.flowpay.it/api/oauth/token
          scopes:
            account:read: Operazioni di lettura sui conti
            bill:write: Creazione e gestione di ricevute
            business:read: Operazioni di lettura sulle informazioni della azienda
            contacts:read: Operazioni di lettura sulla rete aziendale
            invoice:read: Operazioni di lettura sulle fatture
            invoice:write: Operazioni di scrittura sulle fatture
            payment:read: Operazioni di lettura sui pagamenti
            salary:read: Operazioni di lettura sulle buste paga
            salary:write: Operazioni di scrittura sui salary
            statistic:read: Lettura dei dati statistici raggruppati
            transfer:read: Operazioni di lettura sui trasferimenti
            transfer:write: Operazioni di scrittura sui trasferimenti
          tokenUrl: https://core.flowpay.it/api/oauth/token
      type: oauth2
    ThirdPartyClientCredential:
      description: Autorizzazione oauth ottenuta da terze parti con client credential flow
      flows:
        clientCredentials:
          refreshUrl: https://core.flowpay.it/api/oauth/token
          scopes:
            account:read: Operazioni di lettura sui conti
            account:write: Operazione di modifica sui conti
            authorization_intent: Creazione di intenti a consensi relativi a risorse di un utente
            bill: Gestione di ricevute
            business:read: Operazioni di lettura sulle informazioni della azienda
            invoice:read: Operazioni di lettura sulle fatture
            invoice:write: Operazioni di scrittura sulle fatture
            pagopa: ''
            payment:read: Operazioni di lettura sui pagamenti
            salary:read: Operazioni di lettura sulle buste paga
            salary:write: Operazioni di scrittura sui salary
            statistic:read: Lettura dei dati statistici raggruppati
            transfer:read: ''
            transfer:write: ''
          tokenUrl: https://core.flowpay.it/api/oauth/token
      type: oauth2
    oAuth2:
      type: oauth2
      description: OAuth2 flow
      flows:
        authorizationCode:
          authorizationUrl: /openid/authenticate
          tokenUrl: /oauth/token
          refreshUrl: /oauth/token
          scopes:
            accounts:read: Allow to read accounts
            accounts:write: Allow to mediate accounts creation and open banking consent renewal
            invoices:read: Allow to read invoices
            invoices:write: Allow to create invoices and manage lifecycle
            bills:read: Allow to read bills
            bills:write: Allow to create bills and manage lifecycle
            constructions:read: Allow to read information about construction sites
            constructions:write: Allow to create construction sites and manage the lifecycle
            openid: Allow to read user profile
            pagopa:read: Allow to retrieve users' PagoPA payment notices
            pagopa:write: Allow to create PagoPA payment notices
            transfers:read: Allow to read transfers
            transfers:write: Allow to create transfers and manage lifecycle
            wallet:`document_type`: Allow to manage wallet for the specified use case
        clientCredentials:
          tokenUrl: /oauth/token
          scopes:
            ade: Allow to interact with Agenzia delle Entrate services
            accounts:read: Allow to read accounts
            accounts:write: Allow to mediate accounts creation and open banking consent renewal
            invoices:read: Allow to read invoices
            invoices:write: Allow to create invoices and manage lifecycle
            bills:read: Allow to read bills
            bills:write: Allow to create bills and manage lifecycle
            constructions:read: Allow to read information about construction sites
            constructions:write: Allow to create construction sites and manage the lifecycle
            openid: Allow to read user profile
            pagopa:read: Allow to retrieve users' PagoPA payment notices
            pagopa:write: Allow to create PagoPA payment notices
            transfers:read: Allow to read transfers
            transfers:write: Allow to create transfers and manage lifecycle
            wallet:`document_type`: Allow to manage wallet for the specified use case
x-refined-from:
- bancomat-flowpay-api-v1-openapi.json
- bancomat-flowpay-api-v2-openapi.json
- bancomat-flowpay-api-v1-openapi.yml
- bancomat-flowpay-api-v2-openapi.yml
